@tailwind base;
@tailwind components;
@tailwind utilities;

/* Button Design */
.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 3rem;
  width: 25rem;
  border: 2px solid #a6a2a2;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: #a6a2a2;
  overflow: hidden;
  transition: all 0.3s ease-in-out; /* Add transition for smooth effect */
}

.btn:hover {
  color: #fff;
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px 2px #ffffff; /* Add glow effect */
}